
toy_examples/.ipynb_checkpoints/Gaussian_mixture_10-Copy1-checkpoint.ipynb
toy_examples/.ipynb_checkpoints/ill_Gaussian-Copy1-checkpoint.ipynb
toy_examples/Gaussian_mixture_10-Copy1.ipynb
toy_examples/ill_Gaussian-Copy1.ipynb
*.zip
*.pyc
build
pfg.egg-info
dist